<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="..../static/dist/output.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="..">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
</head>

<body class="h-[100vh] w-[100vw] m-0 px-5">
    <div class="w-full h-[55%] mb-5">
        <div class="w-[40%] h-full mx-auto flex justify-center align-center items-center">
            <img src="http://127.0.0.1:8000/static/images/payment.jpg" alt="" class="h-3/4">
        </div>
    </div>

    <div class="w-full h-fit flex flex-col mb-4">
        <h1 class="text-xl font-medium text-black text-center mt-4">Course Summary</h1>
        <div class="flex justify-center items-center">
            <div class="bg-white rounded-md p-4">
                <p><strong>Course Name:</strong> {{ course.course_name }}</p>
                <p><strong>Amount:</strong> {{ course.cost }}</p>
                <p><strong>duration:</strong> {{ course.course_duration }}</p>
                <p><strong>Starting Date:</strong> {{ course.opening_date }}</p>
                <p><strong>Rating:</strong> {{ course.rating }}</p>
            </div>
        </div>
    </div>

    <div class="w-full h-[10%] flex flex-col justify-center items-center mb-5">
        <button onclick="fun()"
            class="w-[25%] bg-blue-600 h-[80%] rounded-3xl mx-auto justify-center text-white hover:bg-blue-100 hover:text-blue-600">Check for Verification !</button>
    </div>
    <div class="w-full h-[10%] flex flex-col">
        <h1 class="justify-center w-[26%] text-2xl text-black mx-auto hidden" id="notification">We will get Back to you
            very soon !</h1>
        <h1 class="justify-center w-[50%] text-2xl text-red-600 mx-auto font-sans hidden" id="notification_error">There
            was some Error please try again hitting the verfication button</h1>
    </div>

    
</body>
<script type="text/javascript">
    (function () {
        emailjs.init('28QrozmlnzXT9wsiF');
    })();

    alert("Please Pay for the Course first and then Click on Check Verification, we will soon notify you with furthur details")
</script>
<script>
    // const coursedata = JSON.parse('{{ course | safe }}');
        // Access individual course properties
    
    // we need all three varible
    const fun = (amount, CourseName, EmailId) => {
        const service_ID = "service_qu3z1fb"
        const template_ID = "template_y60ig0j"


        const userEmail = '{{ user.email }}';
        const course_name = '{{ course.course_name}}'; 
        const cost = '{{ course.cost }}';
        console.log(userEmail)


        var params = {
            Course_Name: course_name,
            from_email: userEmail,
            amount: cost
        }

        emailjs
            .send(service_ID, template_ID, params)
            .then(() => {
                console.log("Message Sent Succesfully");
                document.getElementById("notification").style.display = "block"
                setTimeout(() => { window.location.href = "/" }, 5000);
            })
            .catch((err) => { document.getElementById("notification").style.display = "block" })
    }
    
</script>

</html>